.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    background-color: rgb(73, 73, 73) !important;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }