/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-mdc-form-field {
    --mdc-filled-text-field-container-color: #363636; // Fondo del input
    --mdc-filled-text-field-focus-color: #1976d2;      // Color al hacer foco
    --mdc-filled-text-field-label-color: #1976d2;      // Color del label
  }